.body {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  padding-top: 1em;
  align-items: center;
  justify-content: center;
}

header {
  color: #ffffff;
  text-align: center;
  display: flex;
  background-color: #00968d;
  padding: 0 0 0 2em;
  gap: 2em;
}

footer p {
  font-size: 0.75em;
  background-color: #f2a391;
  color: #ffffff;
  padding: 0.25em 0.5em;
  text-align: center;
  margin: 0;
}

footer a {
  color: #ffffff;
}

header h1 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #ffffff;
}

header a.menu {
  font-size: 0.8em;
  margin-top: 0.7em;
  color: #ffffff;
}

header h1 a {
  text-decoration: none;
  color: #ffffff;
}

.about {
  margin-left: auto;
  background: #eea737;
  border-radius: 0 0 0 2em;
  color: #ffffff;
  border: 0;
  padding: 0.7em 0.6em 0 1em;
  font-size: 1em;
  line-height: 0.5em;
  font-weight: bold;
  text-decoration: none;
}
