.graph {
  flex: 1 0 auto;
}

.filter {
  padding: 0 2em 1em 2em;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.keyword {
  width: 240px;
}

.keyword > input {
  width: 100%;
  box-sizing: border-box;
}

.share {
  width: 240px;
  border-left: 1px solid #cccccc;
  padding-left: 0.5em;
  box-sizing: border-box;
}

.catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.hint-icon {
  width: 50px;
}
